@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/InterTight-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --side-padding: 20px;

  --background-00: #ffffff;
  --background-01: #EBE9E9;

  --background-hover-00: #111111;
  --background-hover-01: #ADADAD;
  --background-hover-02: var(--background-01);
  --primary: #000000;
  --primary-hover: #F0F0F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-00: #111111;
    --background-01: #111111;

    --background-hover-00: #EBE9E9;
    --background-hover-01: #ADADAD;
    --primary: #ffffff;
    --primary-hover: #000000;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 41px 0 0 0;
  color: var(--primary);
  background: var(--background-00);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
