.form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-light);
}

.title {
  margin: 26px 16px;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
}

.input {
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-bottom: 1px solid var(--border-light);
  font-size: 14px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  white-space: nowrap;
}

.input::placeholder {
  opacity: 0.2;
  user-select: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--primary);
}

.input:focus::placeholder {
  opacity: 0;
}

.relative {
  position: relative;
}

.select {
  padding-right: 30px;
  text-transform: capitalize;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  cursor: pointer;
}

.dot {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.errorMsg {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  background-color: var(--background-00);
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--border);
}

.errorMsg::after {
  content: ' ';
  position: absolute;
  bottom: -7px; /* move below border */
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 14px;
  height: 14px;
  background: white;
  box-shadow:
    1px 0 0 0 #e0e0e0,    /* right */
    0 1px 0 0 #e0e0e0;    /* bottom */
  border-bottom-right-radius: 3px;
}

