.popupBox {
  position: fixed;
  border-radius: 6px;
  border: 1px solid var(--border);
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  background-color: var(--background-00);
  animation: expand 2.4s cubic-bezier(0.35, 0.26, 0.54, 0.97) forwards;
  z-index: 999;
}

.popupBoxClose {
  transform-origin: top right;
  animation: collapse 0.4s forwards;
}

@keyframes expand {
  0% {
    width: 20px;
    max-height: 0;
  }
  17% {
    width: var(--popup-width);
    max-height: 400px;
  }
  100% {
    width: var(--popup-width);
    max-height: var(--popup-max-height);
  }
}

@keyframes collapse {
  0% {
    width: var(--popup-width);
    max-height: var(--popup-max-height);
  }
  50% {
    width: var(--popup-width);
    max-height: 50px;
  }
  100% {
    width: 0;
    max-height: 0;
  }
}
