.menuIndent {
  height: 0;
  transition: all 1s;
}

.openTrig {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font: var(--font-body-12);
  text-align: center;
  color: var(--primary);
  cursor: pointer;
  user-select: none;
  z-index: 3;
}

.menuBox {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  max-height: 0;
  font: var(--font-body-12);
  color: var(--background-00);
  overflow: hidden;
  pointer-events: none;
  z-index: 999;
  transition: all 1s;
}

.menuContent {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 4px;
  width: 100%;
  height: 100%;
  padding: 10px 20px 8px 20px;
  background-color: var(--background-03);
}

.leftContent {
  display: flex;
}

.layoutToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12px;
  width: 20px;
  flex-shrink: 0;
  margin-right: 30px;
  margin-top: 3px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--background-00);
}

.sums {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}

.sum {
  display: inline;
  font: var(--font-body-14);
  font-weight: 600;
  margin-right: 8px;
  word-break: break-word;
}

.sumLabel {
  white-space: nowrap;
}

.closeTrig {
  cursor: pointer;
  user-select: none;
}

.categories {
  margin-left: auto;
  width: 120px;
  cursor: pointer;
  user-select: none;
}

.categories::before {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--background-00);
  border-radius: 4px;
  margin-right: 8px;
}

@media (max-width: 750px) {
  .menuContent {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .leftContent {
    grid-column: span 2;
  }

  .sums {
    margin-left: auto;
    justify-content: flex-end;
    row-gap: 4px;
    column-gap: 16px;
    text-align: right;
  }

  .categories {
    text-align: right;
  }
}
