.dayWrap {
  border-bottom: 1px solid var(--primary);
}

.day {
  position: relative;
  display: flex;
  height: 108px;
  gap: 4px;
  padding: 8px var(--side-padding);
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s;
}

.day:hover {
  background-color: var(--background-01);
  transition: background-color 0.2s;
}

.day:hover .amount {
  transform: translateY(0);
}

.day:hover .currency {
  transform: translateY(-20px);
}

.day.open {
  transform: translateY(0);
  background-color: unset !important;
}

.day.open .amount {
  transform: translateY(0);
}

.day.open .currency {
  transform: translateY(-20px);
}

.date {
  flex-shrink: 0;
  width: 50px;
  text-align: right;
  display: flex;
  align-items: flex-end;
  font-weight: 500;
}

.amountWrap {
  position: relative;
  height: 108px;
  transform: translateY(-8px);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  padding-right: 30px;
}

.amount {
  font-family: 'Inter Tight', sans-serif;
  transform: translateY(20px);
  font-size: 113px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y: hidden;
  transition: transform 0.2s ease-in-out;
}

.currency {
  position: absolute;
  top: 28px;
  right: -4px;
  width: 30px;
  font-size: 12px;
  text-transform: lowercase;
  font-weight: 500;
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
  transition: transform 0.2s ease-in-out;
}

.riteSide {
  flex-shrink: 0;
  width: 120px;
  margin-left: auto;
  font-weight: 600;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-height: 70px;
  margin-top: 4px;
  overflow: hidden;
}

.category {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  flex-shrink: 0;
}

.categotyCount {
  font-size: 12px;
  line-height: 7px;
}
