.wrap {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  gap: 4px;
  padding: 12px var(--side-padding);
  border-top: 1px solid var(--border);
  transition: opacity .6s;
}

.wrap:last-of-type {
  border-bottom: 1px solid var(--border);
}

.dot {
  margin-top: 10px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  flex-shrink: 0;
}

.amount {
  font: var(--font-title-22);
}

.descr {
  font: var(--font-body-12);
  opacity: 0.4;
}

.constrols {
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.wrap:hover .constrols {
  opacity: 1;
}