.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background: lightpink;
  font-size: 14px
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userImage {
  width: 24px;
  heignt: 24px;
  border-radius: 12px;
}
