.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--side-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-size: 14px;
  background-color: var(--background-00);
  border-bottom: 1px solid var(--primary);
  z-index: 1000;
}

.addButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 2px;
}

.addButton:hover {
  background-color: var(--background-01);
}
