.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--side-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: lightpink;
  font-size: 14px
}
