.categories {
  color: var(--primary);
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}

.noCategories {
  padding-top: 40px;
  text-align: center;
  opacity: 0.2;
}

.categoriesList {
  padding-top: 14px;
  max-height: 400px;
  overflow: scroll;
}

.category {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border-light);
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.categoryContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 12px;
  transition: opacity 0.2s;
}

.categotyText {
  max-width: calc(100% - 20px);
  text-overflow: ellipsis;
  overflow: hidden;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.buttons {
  margin-top: 30px;
  padding: 12px;
  display: flex;
  gap: 4px;
}

.button {
  flex-grow: 1;
  padding: 4px 14px;
  background-color: var(--background-00);
  border: 1px solid var(--border);
  border-radius: 8px;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover {
  background-color: var(--border-light);
}
