.categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.button {
  width: 100%;
  margin-top: 16px;
  height: 32px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffb6c169;
  z-index: 10000000;
}