.toastWrap {
  position: absolute;
  --toast-top: 80px;
  --toast-edge: 22px;
}

.topCenter {
  top: var(--toast-top);
  left: 50%;
  transform: translateX(-50%);
}

.bottomRight {
  bottom: var(--toast-edge);
  right: var(--toast-edge);
}

.toastInnerWrap {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px 40px;
  max-width: 500px;
  min-height: 62px;
  border-radius: 6px;
  border: 1px solid var(--border);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  background-color: var(--background-00);
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.35, 0.26, 0.54, 0.97);
  animation-fill-mode: forwards;
}

.toastIcon {
  width: 24px;
  height: 24px;
}

.toastText {
  font-weight: 500;
  font-size: 19px;
}

.topCenter .toastInnerWrap {
  animation-name: slide-down;
}

.topCenter .toastInnerWrap[data-closing="true"] {
  animation-name: slide-up-and-close;
}

.bottomRight .toastInnerWrap {
  animation-name: slide-up;
}

.bottomRight .toastInnerWrap[data-closing="true"] {
  animation-name: slide-down-and-close;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%) scale(0.6);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes slide-up-and-close {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-150%) scale(0.6);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down-and-close {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(150%);
  }
}
